<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="between.css">
</head>

<body>
    <!-- 左边固定 右边两个自适应 -->
    <div class="box">
        <div class="block">
        </div>
        <div class="block" style="margin-left: auto;background-color: yellow">
        </div>
        <div class="block" style="background-color: blue">
        </div>
    </div>
</body>

</html>