.box {
    width: 200px;
    height: 200px;
    border: 1px solid;
    text-align: center;
  }
  .box::after {
    content: "";
    line-height: 200px;
  }
  .child {
    display: inline-block;
    background: red;
  }