.box1 {
    width: 200px;
    height: 200px;
    border: 1px solid;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .child1 {
    background: red;
  } 
  .box2 {
    width: 200px;
    height: 200px;
    border: 1px solid;
    display: grid;
  }
  .child2 {
    background: red;
    margin: auto;
  }  